@charset "utf-8";
/* CSS Document */

*{font-family: 'Roboto', sans-serif;}
body{font-family: 'Roboto', sans-serif;color:#212121;background-color:#fafafa;}
.scroll-active .nav{box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);background-color: #fff;}
.scroll-active .navbar-brand{box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);background-color: #fff;}

.navbar-toggle{border:none;margin:0;background:none;padding: 10px 10px;margin-top: 10px;margin-right: 10px;}
.navbar-toggle:hover{background:none;}
.navbar{border:0;position: fixed;width: 100%;top: 0;left: 0;margin: 0;z-index: 999;}
.navbar-brand{padding: 8px 15px;color:#212121;height:auto;}
.navbar-brand img{width: 195px;}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{background:#fff;}
.nav{border:0;color:#212121;margin-top:0;}
.navbar-default{background:none;}
.navbar-default .navbar-nav{position:relative;}
.navbar-default .navbar-nav>li>a{font-size:14px;padding: 13px 15px 8px;text-transform:uppercase;border-bottom:solid 3px rgba(0,0,0,0);color:#777;}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{color:#ff4081;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{color:#ff4081;border-color:#ff4081;background:none;}

.sn-img{padding:140px 0 0;}
.sn-img img{width:100%;padding: 100px;}
.sn-detail{padding:140px 0 0;}
.sn-detail .small-desc{font-weight:300;font-size:30px;font-family: 'Roboto', sans-serif;margin:0 0 5px;}
.sn-detail .name{font-weight:400;font-size:60px;font-family: 'Roboto', sans-serif;margin:0 0 10px;}
.sn-detail .name span{font-weight:100;}
.sn-detail .designation{font-weight:300;font-size:18px;margin:0 0 30px;}
.sn-detail .data{margin:0 0 30px;}
.sn-detail .data td{padding:10px 0;}
.sn-detail .data label{font-size:16px;color:#777;margin:0;display:inline-block;width:130px;font-weight:400;font-family: 'Roboto', sans-serif;}
.sn-detail .data span{font-size:16px;color:#222;margin:0;display:inline-block;}
.sn-detail .data a{font-size:16px;color:#222;margin:0;display:inline-block;}
.sn-detail .action a{margin:0 10px 10px 0;min-width:150px}

.pink-btn{background:#ff4081;color:#fff;font-size:16px;border:none;border-radius:3px;padding:10px 20px;display:inline-block;text-transform:uppercase;}
.pink-btn:hover{background:#dfa1f;color:#fff;text-decoration:none;}
.green-btn{background:#f6f6f6;color:#212121;font-size:16px;border:none;border-radius:3px;padding:10px 20px;display:inline-block;text-transform:uppercase;}
.green-btn:hover{background:#ededed;color:#212121;text-decoration:none;}

.main-title{margin:0 0 40px;text-align:center;}
.main-title h2{font-weight:100;font-size:60px;font-family: 'Roboto', sans-serif;margin:0;}

.skill-wrap{padding:100px 0;}
.skill-wrap .skill-title{font-weight:300;font-size:24px;font-family: 'Roboto', sans-serif;margin:0 0 30px;color:#ff4081;}
.skill-wrap .skill-name{font-weight:300;font-size:16px;font-family: 'Roboto', sans-serif;margin:0 0 10px;color:#777;}
.skill-wrap .progress{height:2px;margin:0 0 30px;}
.skill-wrap .progress-bar{background-color:#ff4081;position:relative;}

.portfolio-wrap{padding:100px 0;}
.portfolio-wrap .port-nav{margin:0 0 30px;text-align:center;}
.portfolio-wrap .port-nav .nav-inner{display:inline-block;}
.portfolio-wrap .port-nav a{background:none;padding:10px 20px;border-bottom:solid 2px #ddd;color:#777;display:table-cell;text-decoration:none;cursor:pointer;}
.portfolio-wrap .port-nav a:hover{border-bottom:solid 2px #ff4081;color:#ff4081;}
.portfolio-wrap .port-nav a.active{border-bottom:solid 2px #ff4081;color:#ff4081;}
.portfolio-wrap .gallery{margin:0;padding:0;list-style:none;}
.portfolio-wrap .gallery:after{content:'';clear:both;display:block;}
.portfolio-wrap .gallery li{display:block;width:25%;float:left;padding:0 15px;margin:0 0 30px;}
.portfolio-wrap .gallery li .thumbnail{padding:0;position:relative;margin:0;border:none;border-radius:0;box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);overflow:hidden;}
.portfolio-wrap .gallery li .thumbnail .caption{position:absolute;text-align:center;padding:100px 0 0;top:100%;bottom:0;right:0;left:0;background:rgba(0,0,0,0.5);    -webkit-transition: all 0.5s ease;-ms-transition: 0.5s ease;-o-transition: 0.5s ease;transition: all 0.5s ease;}
.portfolio-wrap .gallery li:hover .thumbnail .caption{top:0;display:block;}
.portfolio-wrap .gallery li .thumbnail .caption h4{font-weight:600;font-size:16px;font-family: 'Roboto', sans-serif;margin:0;color:#fff;}

.work-wrap{padding:100px 0;}
.work-wrap .work-section{position:relative;}
.work-wrap .work-section:before{content:'';display:block;width:2px;background:#ddd;top:90px;bottom:0;left:50%;margin-left:-1px;position:absolute;}
.work-wrap .work-section:after{content:'';clear:both;display:block;}
.work-wrap .white-box{background:#fff;padding:15px;box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);}
.work-wrap .work-block{width:50%;position:relative;}
.work-wrap .work-block:after{content:'';width:40px;height:2px;background:#ff4081;position:absolute;top:90px;}
.work-wrap .work-block:before{content:'';width:10px;height:10px;background:#ff4081;position:absolute;top:86px;border-radius:50%;}
.work-wrap .work-block.left:after{right:0;}
.work-wrap .work-block.left:before{right:40px;}
.work-wrap .work-block.right:after{left:0;}
.work-wrap .work-block.right:before{left:40px;}
.work-wrap .work-block.left{padding-right:60px;float:left;margin-bottom:80px;}
.work-wrap .work-block.right{padding-left:60px;float:right;margin-top:80px;}
.work-wrap .work-block .designation{font-weight:300;font-size:30px;font-family: 'Roboto', sans-serif;margin:0 0 15px;color:#ff4081;}
.work-wrap .work-block .time{font-weight:300;font-size:18px;font-family: 'Roboto', sans-serif;margin:0px;color:#222;}
.work-wrap .work-block .company{font-weight:300;font-size:14px;font-family: 'Roboto', sans-serif;margin:0 0 15px;color:#222;}
.work-wrap .work-block .company a{color:#777;}
.work-wrap .work-block .company a:hover{color:#222;}
.work-wrap .work-block .desc{font-weight:300;font-size:14px;font-family: 'Roboto', sans-serif;margin:0;color:#444;text-align:justify;}

.blog-wrap{padding:100px 0;}
.blog-block{background:#fff;box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);margin:0 0 30px;}
.blog-block .blog-img{margin:0;}
.blog-block .blog-img img{width:100%;}
.blog-block .blog-detail{padding:15px;}
.blog-block .blog-name{font-weight:300;font-size:24px;font-family: 'Roboto', sans-serif;margin:0 0 15px;color:#ff4081;float:left;}
.blog-block .blog-name span{font-weight:300;font-size:16px;color:#777;display:block;}
.blog-block .date{font-weight:300;font-size:24px;font-family: 'Roboto', sans-serif;margin:0 0 15px;color:#ff4081;float:right;}
.blog-block .date span{font-weight:300;font-size:16px;color:#777;display:block;}
.blog-block .blog-desc{font-weight:300;font-size:14px;font-family: 'Roboto', sans-serif;margin:0;color:#444;text-align:justify;}

.contact-wrap{padding:100px 0;}
.white-box{background:#fff;padding:50px;box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);}
.contact-wrap .contact-frm .btn{margin-top:25px;border:none;border-radius:2px;color:#777;box-shadow:none;padding:7px 30px;background:#f6f6f6;text-transform:uppercase;}
.contact-wrap .contact-frm .btn:hover{background:#ff4081;color:#fff;transition: all 0.5s ease;}
.contact-wrap .address-block{text-align:center;left: 52%;;position: absolute;top: 35%;}
.contact-wrap .address-block p{margin:0 0 15px;font-size:14px;color:#777;}
.contact-wrap .address-block a{margin:0 0 15px;font-size:14px;color:#777;}
.contact-img{margin-top: -10px;}

.input--nao {overflow: hidden;padding-top:13px;}
.input {margin: 14px 0;width:100%;position: relative;z-index: 1;display: inline-block;vertical-align: top; float: left;}
.input__field--nao {padding: 12px 0px;width: 100%;background: transparent;color: #9da8b2;font-size: 12px;}
.input__field {outline:none;position: relative; display: block; float: right;width: 100%; border: none;border-radius: 0; color: #9e9e9e;font-weight: 300;-webkit-appearance: none;}
.input__label {display: inline-block;float: right; padding: 0 1em;width: 50%;color: #9e9e9e; font-weight: 300; font-size: 12px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.input__label--nao {position: absolute; top: 0;font-size: 12px;left: 0;display: block; width: 100%;text-align: left; padding: 0em; pointer-events: none;-webkit-transform-origin: 0 0; transform-origin: 0 0;-webkit-transition: -webkit-transform 0.2s 0.15s, color 1s;
transition: transform 0.2s 0.15s, color 1s; -webkit-transition-timing-function: ease-out;transition-timing-function: ease-out;}
.input__label-content {position: relative; display: block;padding: 20px 0;width: 100%;}
.graphic--nao { stroke: #d8d8d8; pointer-events: none;-webkit-transition: -webkit-transform 0.7s, stroke 0.7s;transition: transform 0.7s, stroke 0.7s;-webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1); transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);}
.graphic {position: absolute;top: 0;left: 0;fill: none;}
.input__field--nao:focus + .input__label--nao,
.input--filled .input__label--nao {-webkit-transform: translate3d(0, -20px, 0) scale3d(0.9, 0.9, 1);transform: translate3d(0, -20px, 0) scale3d(0.9, 0.9, 1);}
.input__field--nao:focus ~ .graphic--nao,
.input--filled .graphic--nao {stroke: #ff4081;-webkit-transform: translate3d(-66.6%, 0, 0);transform: translate3d(-66.6%, 0, 0); outline: none; border: 0px none; box-shadow: none;border-color:#ff4081;color:#ff4081;}
.input__field:focus + .input__label{color:#ff4081;}

.input__field.active + .input__label{color:#ff4081;}
.input__field--nao.active + .input__label--nao,
.input--filled .input__label--nao {-webkit-transform: translate3d(0, -10px, 0) scale3d(0.9, 0.9, 1);transform: translate3d(0, -10px, 0) scale3d(0.9, 0.9, 1);}
.input__field--nao.active ~ .graphic--nao,
.input--filled .graphic--nao {stroke: #ff4081;-webkit-transform: translate3d(-66.6%, 0, 0);transform: translate3d(-66.6%, 0, 0); outline: none; border: 0px none; box-shadow: none;border-color:#ff4081;color:#ff4081;}
.input__field.active + .input__label{color:#ff4081;}

/* FAB BUTTON*/
.kc_fab_wrapper{ z-index: 9999;width:100%;height:240px;position:fixed;right:0px;bottom:0px;pointer-events:none;}
.sub_fab_btns_wrapper{right:0;bottom:75px;position:absolute;display:none;opacity: 0;-webkit-transition: opacity 0.3s ease-in;-moz-transition: opacity 0.3s ease-in;-ms-transition: opacity 0.3s ease-in;-o-transition: opacity 0.3s ease-in;transition: opacity 0.3s ease-in;pointer-events:all;}
.sub_fab_btns_wrapper button[data-link-title]:hover:after{content: attr(data-link-title);opacity: 1;transition: all 0.5s;background: rgba(0, 0, 0, 0.4);padding: 4px 10px;border-radius: 3px;color: rgba(255, 255, 255, 0.8);font-size: 13px;pointer-events: none;position: absolute;right: 110%;min-width: 150px;}
.sub_fab_btns_wrapper.show{display:block;opacity: 1;}
.sub_fab_btns_wrapper button{width:40px;height:40px;border-radius:100%;background:#F44336;margin-bottom:12px;margin-right:26px;padding:0;border:none;outline:none;color:#FFF;font-size: 19px;box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);transition:.3s;pointer-events:all;}
button.kc_fab_main_btn{background-color:#F44336;width:60px;height:60px;border-radius:100%;background:#F44336;right:16px;bottom:16px;position:absolute;margin-right:0;margin-bottom:0;padding:0;border:none;outline:none;color:#FFF;font-size:36px;box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);transition:.3s;  -webkit-tap-highlight-color: rgba(0,0,0,0);pointer-events:all;}
.kc_fab_main_btn span{transition:.5s;  }
.kc_fab_main_btn:focus {transform:scale(1.1);transform:rotate(45deg);-ms-transform: rotate(45deg);-webkit-transform: rotate(45deg);}
.ink {display: block;position: absolute;background:rgba(255, 255, 255, 0.3);border-radius: 100%;-webkit-transform:scale(0);-moz-transform:scale(0);-o-transform:scale(0);transform:scale(0);pointer-events:all;}
.animate {-webkit-animation:ripple 0.65s linear;-moz-animation:ripple 0.65s linear;-ms-animation:ripple 0.65s linear;-o-animation:ripple 0.65s linear;animation:ripple 0.65s linear;}

/* MATERIAL DESIGN RIPPLE */
.ripple-wrapper {
	display: block;
	position: absolute;
	background: rgba(255,255,255,0.4);
	border-radius: 100%;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}
.ripple-wrapper.animated {
	animation: ripple 0.65s linear;
	-webkit-animation: ripple 0.65s linear;
	-moz-animation: ripple 0.65s linear;
	-o-animation: ripple 0.65s linear;
}
.has-ripple {
	overflow: hidden;
	position: relative;
	user-select: none;
	outline: none;
}
@keyframes ripple {
	100% {
		-webkit-transform: scale(2.5);
		-ms-transform: scale(2.5);
		-o-transform: scale(2.5);
		transform: scale(2.5);
		opacity: 0;
	}
}
@-webkit-keyframes ripple {
	100% {
		-webkit-transform: scale(2.5);
		-ms-transform: scale(2.5);
		-o-transform: scale(2.5);
		transform: scale(2.5);
		opacity: 0;
	}
}
@-o-keyframes ripple {
	100% {
		-webkit-transform: scale(2.5);
		-ms-transform: scale(2.5);
		-o-transform: scale(2.5);
		transform: scale(2.5);
		opacity: 0;
	}
}
@-moz-keyframes ripple {
	100% {
		-webkit-transform: scale(2.5);
		-ms-transform: scale(2.5);
		-o-transform: scale(2.5);
		transform: scale(2.5);
		opacity: 0;
	}
}

@-webkit-keyframes ripple {
    100% {opacity: 0; -webkit-transform: scale(2.5);}
}
@-moz-keyframes ripple {
    100% {opacity: 0; -moz-transform: scale(2.5);}
}
@-o-keyframes ripple {
    100% {opacity: 0; -o-transform: scale(2.5);}
}
@keyframes ripple {
    100% {opacity: 0; transform: scale(2.5);}
}



@media (max-width:990px){.input.input--nao {width: 100%;.navbar-brand{padding:20px 15px;}.navbar-brand > img{width:150px;}.navbar-default .navbar-nav > li > a{font-size:14px;padding:26px 10px 24px;}.sn-detail{padding-top:90px;}.portfolio-wrap .gallery li{width:33.3333%;}.work-wrap .work-block .designation{min-height:60px;}}
@media (max-width:768px){.contact-wrap .address-block {left: 45%;}.sn-img img{padding:0;}.contact-wrap .address-block{margin-top: 20px;}.navbar-brand{padding:15px;}.navbar-default .navbar-brand{float:none;display:block;text-align:center;}.navbar-brand > img{display:inline-block;width:auto;}.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse{max-height:500px}.navbar-collapse.in{overflow:inherit;}.navbar-default .navbar-nav>li>a{padding:10px 15px;}.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{border:none;background:#f06292;color:#fff;}.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{background:rgba(240,98,146,0.1);}.sn-img {margin:0 0 15px;text-align:center;}.sn-img img{width:50%;}.sn-detail{padding:0;text-align:center;}.sn-detail .data {width:100%;}.sn-detail .data td{display:block;width:100%;text-align:center;padding:0;}.sn-detail .data label{font-weight:700;}.sn-detail .data td:last-child{padding-bottom:20px;}}
@media (max-width:600px){ margin-bottom: 30px;}.work-wrap .work-section::before{left:100%;margin-left:0;}.work-wrap .work-block{width:100%;}.work-wrap .work-block.left{margin-bottom:20px;float:none;}.work-wrap .work-block.right{margin-bottom:20px;float:none;margin-top:0;padding-left:0;padding-right:60px;}.work-wrap .work-block.right::before{left:inherit;right:40px;}.work-wrap .work-block.right::after{left:inherit;right:0;}}
@media (max-width:500px){.sn-img img{width:100%;}.portfolio-wrap .gallery li{width:50%;}}
@media (max-width:450px){.contact-img {display: none;}.contact-wrap .address-block {left:59%;}.portfolio-wrap .gallery{text-align:center;}.contact-wrap .address-block{margin-top: 20px;}.portfolio-wrap .gallery li{width:auto;display:inline-block;float:none;}}
@media (max-width:768px){     .navbar-default{background-color: #f8f8f8;border-color: #e7e7e7;}}
